<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title> TapSearch </title>
        <meta charset="UTF-8"/>
    </head>
  
    <body>
        <img height=80 width=80 src="../static/tapchief.png">
        <h1> TapSearch </h1>	
        <form action="/load_document" method="POST">
            <p class="heading">
                Input the Document
            </p>
            <textarea rows="6" cols="60" name="document"></textarea>
        </form>
        <form action="/search" method="GET">
            <p class="heading">
                Search Word
            </p>
            <input name="search" placeholder="Enter the word">
	        <input class="search-btn" type="submit" value="Search">
	        <br>
	        <p class="heading">
                Paragraphs with Searched Word
            </p>
            {% for i in ans %}
	            <p> {{ i }} </p>
                <br>
            {% endfor %}
        </form>
        <p class="clear">
            Clear document indexes
        </p>
        <button onclick="showAlert()" class="clear-btn">Clear</button>
        <script>
            function showAlert() {
                alert("All indexed documents are cleared!");
            }
        </script>
    </body>
</html>
